.container {
    width: 90%;
    margin: auto;
  }
  
  .header {
    text-align: center;
  }
  
  .form-container {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }
  
  .mat-form-field {
    margin-bottom: 10px;
  }
  
  .participants-table {
    width: 100%;
    margin-top: 20px;
  }
  
  .participants-table th,
  .participants-table td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ccc;
  }
  